PyQt6>=6.6
PyQt6-WebEngine>=6.6
pandas>=2.2
numpy>=1.26
openpyxl>=3.1
XlsxWriter>=3.1
kiwipiepy>=0.18.0
wordcloud>=1.9
matplotlib>=3.8
pyvis>=0.3.2
mlxtend>=0.23
rapidfuzz>=3.6
networkx>=3.2
python-louvain>=0.16
google-generativeai>=0.7
plotly>=5.20
scipy>=1.11
kss>=5.0
kss>=5.0
